---
layout: default
skills:
  - icon: flag
    title: Skill 1
    desc: This is the description of my skill.
  - icon: bug
    title: Skill 2
    desc: This is the description of my skill.
  - icon: bomb
    title: Skill 3
    desc: This is the description of my skill.
  - icon: globe
    title: Skill 4
    desc: This is the description of my skill.
  - icon: globe
    title: Skill 5
    desc: This is the description of my skill.
  - icon: globe
    title: Skill 6
    desc: This is the description of my skill.

---
    <section class="top-banner center">
      <header>
        <div>
            LOGO
        </div>
        <nav>
          <a href="#about">About Me</a>
          <a href="#skills">// Skills</a>
          <a href="#experience">// Experience</a>
          <a href="#contact">// Contact</a>
        </nav>
      </header>
      <h2>Anja Thompson</h2>
      <h1>Travel Junkie HELLO SUNISHINE!</h1>
      <div><i class="fa fa-globe" aria-hidden="true"></i> Bali, Indonesia</div>

    </section>

    <section id="about" class="featured center">
      <div class="featured-box">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

    <section id="skills" class="grid">
      <h2 class="centered col-12">My Skills</h2>

      {% for skill in page.skills %}
      <div class="col-4_md-6_sm-12 skill-box">
        <div class="center">
          <i class="fa fa-{{skill.icon}}" aria-hidden="true"></i>
        </div>
        <h3>{{skill.title}}</h3>
        <p>{{skill.desc}}</p>
      </div>
      {% endfor %}
    </section>

    {% include map.html %}

    <section id="experience">
      <!-- Section for my experience -->
      <h2>My experience</h2>

      <div class="grid-middle center">
        <!-- Experience 1 -->
        <i class="fa fa-bolt col-1_sm-12" aria-hidden="true"></i>
        <div class="col-4_sm-12">
          <h3>Macdonalds</h3>
          <h4>Manager</h4>
        </div>
        <p class="col-7_sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="grid-middle center">
        <i class="fa fa-bolt col-1_sm-12" aria-hidden="true"></i>
        <!-- Experience 2 -->
        <div class="col-4_sm-12">
          <h3>Macdonalds</h3>
          <h4>Manager</h4>
        </div>
        <p class="col-7_sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="grid-middle center">
        <i class="fa fa-bolt col-1_sm-12" aria-hidden="true"></i>
        <!-- Experience 3 -->
        <div class="col-4_sm-12">
          <h3>Macdonalds</h3>
          <h4>Manager</h4>
        </div>
        <p class="col-7_sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </section>

    <footer class="featured center">
      <h2>Get in touch</h2>
      <a href="mailto:hello@anja.com">hello@anja.com</a>
      <a href="tel:+43313210012">43313210012</a>
      <nav>

        <a target="_blank"href="https://www.facebook.com">Facebook</a>
        <a target="_blank"href="http://www.instagram.com">Instagram</a>
        <a target="_blank"href="http://www.linkedin.com">Linked In</a>

      </nav>
    </footer>
