<!DOCTYPE html>
<html>

  <head>

    <!--START head element-->

    <title>Anja portfolio site</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">

    <!--This is my main css file, keep at bottom-->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!--END head element-->
  </head>

  <body>
    {{ content }}
  </body>

</html>
